.container-main{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.noteBoard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: auto;
	margin-top: 10px;
	margin-left: 60px;
	margin-right: 60px;
}
.container-form {
	display: grid;
	justify-content: center;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	height: auto;
	width: 500px;
	color: black;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	background-color: white;
}

.input-key, .edit-key{
	height: auto;
	width: 500px;
	border: 0px;
	padding-bottom: 5px;
	font-size: 17.5px;
	font-family: Roboto,Arial,sans-serif;
	background-color: inherit;
}
.input-value, .edit-value{
	display: none;
	height: auto;
	width: 500px;
	border:0px;
	font-size: .875rem;
	font-family: Roboto,Arial,sans-serif;
	resize: vertical;
	background-color: inherit;
	line-height: auto;
}
#color-box {
	display: none;
	padding: 5px;
	flex-direction: row;
	height: auto;
	width: auto;
	border: 1px solid rgba(0,0,0,0.2);
	background-color: white;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	position: absolute;
	top: 5%;
    left: 45%;
	z-index: 4;
	cursor: pointer;
}

.color {
	margin: 1px;
	width: 25px;
	height: 25px;
	border-radius: 20px
}

/*.container-data {
	height: 250px;
	width: 250px;
	border: 1px solid gray;
	padding: 5px;
}*/


.card {
	border-radius: 10px;
	padding: 10px;
	margin: 5px;
	height: auto;
	width: 250px;
	color: black;
	border:  1px solid rgba(0,0,0,0.2);
	font-family: Roboto,Arial,sans-serif;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07)
	background-color: white;
}


.note-title{
	font-weight: 550;
	padding: 5px;
	font-size: 17.5px;
}
.note{
	margin-top: 10px;
	font-weight: 400;
	font-size: .875rem;
	letter-spacing: .01428571em;
	line-height: 1.25rem;
	white-space: pre-wrap;
	/*word-wrap: break-word;*/
}

.box{
   	width: 500px;
    height: auto;
    /*line-height: 200px;*/
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    position: fixed;
    top: 50%; 
    left: 36%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: white;
    border:  1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    z-index: 3;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.2); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;